<div class="grid stats mb-3">
    <div class="card-lite stat reveal">
        <div class="blur"></div><div class="icon"><i class="fa-solid fa-box"></i></div>
        <div class="title">Ürün Sayısı</div><div class="value"><span class="counter" data-to="124">0</span></div>
    </div>
    <div class="card-lite stat reveal d2">
        <div class="blur"></div><div class="icon"><i class="fa-solid fa-users"></i></div>
        <div class="title">Kullanıcılar</div><div class="value"><span class="counter" data-to="78">0</span></div>
    </div>
    <div class="card-lite stat reveal d3">
        <div class="blur"></div><div class="icon"><i class="fa-solid fa-truck"></i></div>
        <div class="title">Siparişler</div><div class="value"><span class="counter" data-to="56">0</span></div>
    </div>
    <div class="card-lite stat reveal d4">
        <div class="blur"></div><div class="icon"><i class="fa-solid fa-comments"></i></div>
        <div class="title">Yorumlar</div><div class="value"><span class="counter" data-to="34">0</span></div>
    </div>
</div>