<header class="header">
    <div class="d-flex align-items-center gap-3">
        <i class="fa-solid fa-bars toggle" onclick="document.getElementById('sidebar').classList.toggle('open')"></i>
        <div class="search">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Ara...">
        </div>
    </div>
    <div class="right">
        <i class="fa-regular fa-bell position-relative">
            <span class="position-absolute top-0 start-100 translate-middle p-1 bg-warning rounded-circle"></span>
        </i>
        <div class="profile" id="profileBtn">
            <img src="https://i.pravatar.cc/150?img=47" alt=""><span class="name">Yunus</span>
            <div class="dropdown" id="profileMenu">
                <a href="#"><i class="fa fa-user"></i>Profilimi Düzenle</a>
                <a href="#"><i class="fa fa-box"></i>Siparişlerim</a>
                <a href="#"><i class="fa fa-gear"></i>Ayarlar</a>
                <a href="#"><i class="fa fa-right-from-bracket"></i>Çıkış Yap</a>
            </div>
        </div>
    </div>
</header>