@{
    ViewData["Title"] = "SignalR Test";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-8 offset-2">
    <div class="alert alert-primary mt-4">
        Bağlantının Durumu: <strong id="connstatus"></strong>
    </div>
    <div class="alert alert-success mt-4">
        Yorum Sayısı: <strong id="commentcount"></strong>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script>
        $(document).ready(() => {
            var connection = new signalR.HubConnectionBuilder()
                .withUrl("http://localhost:7046/signalrhub") // test için http
                .build();

            $("#connstatus").text(connection.state);

            connection.start()
                .then(() => {
                    $("#connstatus").text(connection.state);
                    connection.invoke("SendStatisticCount");
                    console.log("✅ SignalR bağlantısı başarılı!");
                })
                .catch((err) => {
                    console.error("❌ Bağlantı hatası:", err);
                    $("#connstatus").text("Bağlantı hatası");
                });
                connection.on("ReceiveCommentCount",(value)=>{
                    $("#commentcount").text(value);
                });
        });
    </script>
}
