
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_UserLayoutHeadComponentPartial") <!--Burada Bizim Head Alanında bulunan kodlar tutuluyor yani css kodları yer alıyor -->
<body>
    <div class="container-scroller d-flex">
        @await Component.InvokeAsync("_UserLayoutSidebarComponentPartial") <!--Burası Bizim Sidebar alanında bulunan kodlar yani sol menü -->
        <!--Burada Bizim Sidebar Alanında bulunan kod
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            @await Component.InvokeAsync("_UserLayoutNavbarComponentPartial") <!--Burası Bizim Navbar alanında bulunan kodlar yani üst menü -->

            @RenderBody() <!--Burada Bizim sayfaya özel içerikler gelecek -->
            <footer class="footer">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © MultiShop @DateTime.Now.Year</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Tasarlayan <a href="https://www.instagram.com/yunusiinan" target="_blank">Yunus İNAN</a> Tüm Hakları Saklıdır...</span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/spica/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/spica/js/off-canvas.js"></script>
    <script src="~/spica/js/hoverable-collapse.js"></script>
    <script src="~/spica/js/template.js"></script>
</body>

</html>
