@model List<BasketItemDTO>
<div class="col-lg-8 table-responsive mb-5">
    <table class="table table-light table-borderless table-hover text-center mb-0 cart-table">
        <thead class="thead-dark">
            <tr>
                <th>Ürünler</th>
                <th>Fiyat</th>
                <th>Miktar</th>
                <th>Toplam</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">
                        <div class="product-cell">
                            <img src="#" alt="@item.ProductName">
                            <span class="name">@item.ProductName</span>
                        </div>
                    </td>
                    <td class="align-middle currency">@item.ProductPrice ₺</td>
                    <td class="align-middle">
                        <div class="input-group quantity mx-auto" style="width: 100px;">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-primary btn-minus"><i class="fa fa-minus"></i></button>
                            </div>
                            <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="1">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-primary btn-plus"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </td>
                    <td class="align-middle currency">@item.ProductPrice ₺</td>
                    <td class="align-middle"><a href="/ShoppingCart/RemoveBasketItem/@item.ProductID" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                </tr>
            }
         
           
        </tbody>
    </table>
</div>
<link rel="stylesheet" href="/multishop/css/ShoppingCart.css" />
