
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    @await Component.InvokeAsync("_HeadUILayoutComponentPartial")  <!-- Burada Biz Head kodlarını _HeadUILayoutComponentPartial Tuttuk -->
<body>
    @await Component.InvokeAsync("_TopbarUILayoutComponentPartial") <!-- Burada Biz Topbar kodlarını _TopbarUILayoutComponentPartial Tuttuk -->
    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial") <!-- Burada Biz Navbar kodlarını _NavbarUILayoutComponentPartial Tuttuk -->
  @RenderBody()
    @await Component.InvokeAsync("_FooterUILayoutComponentPartial") <!-- Burada Biz Footer kodlarını _FooterUILayoutComponentPartial Tuttuk -->
    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial") <!-- Burada Biz Script kodlarını _ScriptUILayoutComponentPartial Tuttuk -->
</body>

</html>