
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial") <!--Burası Bizim Area İçinde Admin Klasörü İçinde ViewComponent Klasörü içinde _AdminLayoutHeadComponentPartial olarak tuttuk-->

<body class="sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        @await Component.InvokeAsync("_AdminLayoutHeaderComponentPartial") <!--Burası Bizim Area İçinde Admin Klasörü İçinde ViewComponent Klasörü içinde _AdminLayoutHeaderComponentPartial olarak tuttuk-->
        <!-- Left side column. contains the logo and sidebar -->
        @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial") <!--Burası Bizim Area İçinde Admin Klasörü İçinde ViewComponent Klasörü içinde _AdminLayoutSidebarComponentPartial olarak tuttuk-->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @await Component.InvokeAsync("_AdminLayoutMainSectionViewBagComponentPartial") <!--Burası Bizim Area İçinde Admin Klasörü İçinde ViewComponent Klasörü içinde _AdminLayoutMainSectionViewBagComponentPartial olarak tuttuk-->

            <!-- Main content -->
            @RenderBody() 
            <!-- content -->
        </div>
        <!-- content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer dark-bg">
            <div class="pull-right hidden-xs"> Version 1.0</div>
            Copyright &copy; @DateTime.Now.ToString("yyyy") Yunus İNAN. | Tüm Hakları Saklıdır.
        </footer>
    </div>
    <!-- wrapper -->
    <!-- jQuery -->
    <script src="~/ovio/html/dist/js/jquery.min.js"></script>
    <script src="~/ovio/html/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/ovio/html/dist/js/ovio.js"></script>
</body>
</html>