
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Ana Sayfa</a>
                <a class="breadcrumb-item text-dark" href="#">Ürünler</a>
                <span class="breadcrumb-item active">Ürün Listesi</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4">
            @await Component.InvokeAsync("_ProductListPriceFilterComponentPartial") <!-- Burada Biz Price Filter kodlarını _ProductListPriceFilterComponentPartial Tuttuk -->
            @await Component.InvokeAsync("_ProductListColorFilterComponentPartial") <!-- Burada Biz Color Filter kodlarını _ProductListColorFilterComponentPartial Tuttuk -->
            @await Component.InvokeAsync("_ProductListSizeFilterComponentPartial") <!-- Burada Biz Size Filter kodlarını _ProductListSizeFilterComponentPartial Tuttuk -->
        </div>
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                @await Component.InvokeAsync("_ProductListGetProductCountComponentPartial") <!-- Burada Biz Ürün Sayısı kodlarını _ProductListGetProductCountComponentPartial Tuttuk -->
                @await Component.InvokeAsync("_ProductListComponentPartial") <!-- Burada Biz Ürün Listesi kodlarını _ProductListComponentPartial Tuttuk -->
                @await Component.InvokeAsync("_ProductListPaginationComponentPartial") <!-- Burada Biz Ürün Sayfalama kodlarını _ProductListPaginationComponentPartial Tuttuk -->
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
