@model UpdateCommentDTO
@{
    ViewData["Title"] = "UpdateComment";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Öne Çıkan Özellik Güncelleme Sayfası</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden" asp-for="UserCommentID" />
                        <input type="text" asp-for="ProductID" />
                        <label>Kullanıcı Adı Soyadı</label>
                        <input type="text" class="form-control" asp-for="UserCommentNameSurname" />
                        <br />
                        <label>Yorum Görsel</label>
                        <input type="text" class="form-control" asp-for="UserCommentImageURL" />
                        <br />
                        <label>Email Adresi</label>
                        <input type="text" class="form-control" asp-for="UserCommentEmail" />
                        <br />
                        <label>Yorum Tarihi</label>
                        <input type="datetime" class="form-control" asp-for="UserCommentCreatedDate" />
                        <br />
                        <label>Yorum Puanı</label>
                        <input type="number" class="form-control" asp-for="UserCommentRating" />
                        <br />
                        <label>Yorum Durumu</label>
                        <select class="form-control" asp-for="UserCommentStatus">
                            <option value="true" selected>Aktif</option>
                            <option value="false">Pasif</option>
                        </select>
                        <br />
                        <label>Yorum Detayı</label>
                        <textarea class="form-control" asp-for="UserCommentDetail" rows="5"></textarea>
                        <br />
                        <button type="submit" class="btn btn-primary">Öne Yorum Güncelle</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>



